@import "tailwindcss";

@theme {
  --color-bg-primary: #eb87ff;
  --color-bg-secondary: #2a2a2a;
  --color-bg-transparent: rgba(255, 255, 255, 0.1);
  --color-text-primary: #ffffff;
  --color-text-secondary: #cccccc;
  --color-text-hover: var(--color-blue-300);
  --color-accent: #ff5733;
}

:root {
  color-scheme: dark light;
}
html {
  @apply scroll-smooth;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  @apply text-balance;
}
p {
  @apply text-pretty;
  @apply leading-relaxed;
}