---
import Layout from '../layouts/Layout.astro';
import { Content as InjectionContent } from '@/components/Injection.md';
---

<Layout title="Injection" description="Injection page">
  <div class="grid place-items-center max-w-[75ch] m-auto p-5 gap-3">
    <InjectionContent />
  </div>
</Layout>
